<div id="collections">
	<h1>Collection overview</h1>	
	<div id="available_collections">
	Available collections:<br/><br/>
	<ul></ul>
	</div>
	<div id="user_collections">
	Your collections:<br/><br/>
	<ul></ul>
	<form id="output-settings">
		<fieldset>
			<legend>Output settings:</legend>
			Format: <input type="radio" name="output-settings-format" value="xml" checked>Xml <input type="radio" name="output-settings-format" value="json" disabled>JSON<br/>
			Start: <input type="text" value="0" size="6"><br/>
			Results: <input type="text" value="100" size="6"><br/>
			Depth: <input type="text" value="10" size="6"><br/>
			Filter: <select><option value="All">All</option><option value="ICCS" disabled>ICCS</option></select><br/>
			<a href="javascript:void(0)">view</a> / <a href="javascript:void(0)">download</a>
		</fieldset>
	</form>
	
	
	Luce - EUscreen <a href="#" id="luce_uri">(uri)</a>
	</div>
</div>