body {
	background-color:#23313f;
	-webkit-background-size: 1024px 768px;
	-moz-background-size: 1024px 768px;
	-o-background-size: 1024px 768px;
	background-size: 1024px 768px;
	font-family: "Lato",Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: 400;
}

.worflowbarentry {
  padding: 20px 5px;
  font-size:12pt;
  text-align: center;
  cursor: pointer;
}

table {
  border-collapse:collapse;
  width: 100%;
}

#synctime {
 	display: none;
}
  
.passmousevents {
	pointer-events:none;  
}
 
.menumouseover {
 	background-color: #1abc9c;
}  

#logout {
	color: #1abc9c;
	text-decoration: none;
}

#logout:hover {
	color: #16a085;
}

#addCollection {
	color: white;
	text-decoration: none;
}

#addCollection:hover {
	color: #1abc9c;
}

#hidebutton {
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	font-style: bold;
	position:absolute;
	left : 40px;
	bottom:20px;
	width: 90px;
	height: 20px;
	padding: 3px;
}

#home {
	padding: 15px;
}

#collectiondef {
	padding: 15px;
}

#showbutton {
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	font-style: bold;
	position:absolute;
	left : 140px;
	bottom:20px;
	width: 90px;
	height: 20px;
	padding: 3px;
}

#dutchbutton {
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	font-style: bold;
	position:absolute;
	right : 40px;
	top:20px;
	width: 90px;
	height: 20px;
	padding: 3px;
}

#germanbutton {
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	font-style: bold;
	position:absolute;
	right : 140px;
	top:20px;
	width: 90px;
	height: 20px;
	padding: 3px;
}

#englishbutton {
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	font-style: bold;
	position:absolute;
	right : 240px;
	top:20px;
	width: 90px;
	height: 20px;
	padding: 3px;
}

#login {
	text-align: center;
	font-style: bold;
	padding: 3px;
	padding-top: 10%;
	font-size: 24px;
	color: white;
}

#login_username {
	margin: 7px auto 0px;
	display: block;
	width: 300px;
	height: 34px;
	background-color: transparent;
	border: 2px solid #1ABC9C;
	border-radius: 7px;
	font-size: 18px;
	padding-left: 5px;
	color: white;
}

#login_submit {
	background-color: #1ABC9C;
	border-radius: 7px;
	font-family: Arial;
	color: #FFF;
	font-size: 16px;
	padding: 6px 10px;
	text-decoration: none;
	width: 150px;
	border: medium none;
	height: 40px;
}

#login_password {
	margin: 7px auto 0px;
	display: block;
	width: 300px;
	height: 34px;
	background-color: transparent;
	border: 2px solid #1ABC9C;
	border-radius: 7px;
	font-size: 18px;
	padding-left: 5px;
	color: white;
}

.header-container {
	float: right; 
	margin-right: 12px; 
	margin-top: 15px; 
	text-align: right;
}

.add_result {
	color: #1ABC9C;
}

#header {
	color: #ffffff;
	float: right;
	margin-right: 12px;
	height: 50px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
}

#workflowbar {
	color: #ffffff;
	background-color: #2c3e50;
	height: 55px;
	width: 1267px;
	float: left;
	margin-left: 42px;
}

#workarea {
	color: #ffffff;
	background-color: #34495e;
	width: 1267px;
	height: 100%;
	margin-left: 42px;
	float: left;
	margin-bottom: 50px;
	padding-bottom: 15px;
}

#collectionSearch {
	height: 100%;
	width: 98.5%;
	padding: 10px;
	border-radius: 7px;
	background-color: #2c3e50;
}

#collectionSearchTable {
	text-align: left;
}

#collectionSearchResults {
	background-color: #2C3E50;
	width: 47%;
	padding: 10px;
	margin-top: 10px;
	border-radius: 7px;
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left
}

#collectionOverview {
	background-color: #2C3E50;
	width: 47%;
	padding: 10px;
	margin-top: 10px;
	border-radius: 7px;
	float: right;
}

.link {
	cursor:pointer;
}

#query > input {
	background-color: transparent;
	border: 2px solid rgb(26, 188, 156);
	height: 20px;
	border-radius: 7px;
	padding-left: 3px;
	color: white;
}

#decade > select {
	border: medium none;
	background-color: #1abc9c;
	height: 24px;
	margin-top: 8px;
	border-radius: 7px;
	color: white;
	width: 151px;
}

#license > select {
	border: medium none;
	background-color: #1abc9c;
	height: 24px;
	margin-top: 8px;
	border-radius: 7px;
	color: white;
	width: 151px;
}

#maxPrice > input {
	background-color: transparent;
	border: 2px solid #1ABC9C;
	height: 20px;
	border-radius: 7px;
	padding-left: 3px;
	color: #FFF;
}

#licenseButton {
	background-color: #1abc9c;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 17px;
	padding: 8px 15px;
	text-decoration: none;
}

#userCollections {
	width: 47%;
	background-color: #2C3E50;
	padding: 10px;
	border-radius: 7px;
	float: left;
}

#collectionDetails {
	background-color: #2C3E50;
	padding: 10px;
	width: 47%;
	border-radius: 7px;
	float: right;
	
}

.submitButton {
  background-color: #1ABC9C;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 8px 15px;
  text-decoration: none;
  width: 50px;
  margin-top: 25px;
}

.collection {
	cursor:pointer;
}
