body {
	background-color:#555555;
	-webkit-background-size: 1024px 768px;
	-moz-background-size: 1024px 768px;
	-o-background-size: 1024px 768px;
	background-size: 1024px 768px;
}

.worflowbarentry {
  padding:5px;
  font-size:12pt;
  text-align: center;
}

table {
  border-collapse:collapse;
  width: 100%;
}
 
#synctime {
 	display: none;
}
  
.passmousevents {
	pointer-events:none;  
}
 
.menumouseover {
 	background-color: #5555aa;
}  
  
 #hidebutton {
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	font-style: bold;
	position:absolute;
	left : 40px;
	bottom:20px;
	width: 90px;
	height: 20px;
	padding: 3px;
}

 #showbutton {
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	font-style: bold;
	position:absolute;
	left : 140px;
	bottom:20px;
	width: 90px;
	height: 20px;
	padding: 3px;
}

#dutchbutton {
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	font-style: bold;
	position:absolute;
	right : 40px;
	top:20px;
	width: 90px;
	height: 20px;
	padding: 3px;
}

#germanbutton {
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	font-style: bold;
	position:absolute;
	right : 140px;
	top:20px;
	width: 90px;
	height: 20px;
	padding: 3px;
}

#englishbutton {
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	font-style: bold;
	position:absolute;
	right : 240px;
	top:20px;
	width: 90px;
	height: 20px;
	padding: 3px;
}

#login {
	text-align: center;
	font-style: bold;
	padding: 3px;
}

#header {
	color: #ffffff;
	background-color: #666666;
	position:absolute;
	top:10px;
	left:20px;
	right:20px;
	height: 50px;
}

#workflowbar {
	color: #000000;
	background-color: #888888;
	position:absolute;
	top:81px;
	left:50px;
	right:50px;
	height: 30px;
}

#workarea {
	color: #ffffff;
	background-color: #000000;
	position:absolute;
	top:111px;
	bottom:50px;
	left:50px;
	right:50px;
	padding: 20px;
}

#collectionSearch {
	position: relative;
	height: 180px;
	width: 100%;
}

#collectionSearchTable {
	text-align: left;
}

#collectionSearchResults {
	position: absolute;
	left: 20px;
	width: 70%;
	bottom: 10%;
	top: 200px;
	margin-left: 50px;
}

#collectionOverview {
	position: absolute;
	right: 20px;
	width: 25%;
	bottom: 10%;
	top: 200px;
}

.link {
	cursor:pointer;
}

#licenseButton {
	background-color:#888888;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:14px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:8px 15px;
	text-decoration:none;
}
