<app>
	<view id="#loginhome">
		<template>login/index.mst</template>
		<controller id="LoginHomeController"/>
	</view>
	
	<view id="#login">
		<controller id="LoginController">
			<template>login/Login.mst</template>
			<javascript>login/LoginController.js</javascript>
			<titleText>Login</titleText>
			<nameText>Username</nameText>
			<passwordText>Password</passwordText>
			<buttonText>Login</buttonText>
			<errorText>Login failed</errorText>
		</controller>
	</view>
	
	<view id="#screen">
		<template>screen.mst</template>
		<controller id="ScreenController">
		</controller>
	</view>	
	
	<view id="#header">
		<controller id="HeaderController">
			<template>header/index.mst</template>
			<javascript>header/HeaderController.js</javascript>
		</controller>
	</view>
	
	<view id="#workflowbar">
		<template>workflowbar/workflowbar.mst</template>
		<controller id="WorkflowController">
		</controller>
	</view>
	
	<view id="#workarea">
		<controller id="WorkAreaController" />
	</view>	
	
	<view id="#home">
		<template>workarea/home/index.mst</template>
		<controller id="HomeController" />
	</view>
	
	<view id="#ingest">
		<template>workarea/ingest/index.mst</template>
		<controller id="IngestController" />
	</view>
	
	<view id="#collectiondef">
		<template>workarea/collectiondef/index.mst</template>
		<controller id="CollectionDefController" />
	</view>	
	
	<view id="#annotations">
		<template>workarea/annotations/index.mst</template>
		<controller id="AnnotationsController" />
	</view>	
	
	<view id="#enrichments">
		<template>workarea/enrichments/index.mst</template>
		<controller id="EnrichmentsController" />
	</view>	
	
	<view id="#editorial">
		<template>workarea/editorial/index.mst</template>
		<controller id="EditorialController" />
	</view>	
	
	<view id="#workflowlist">
		<controller id="FsListController">
			<template>workflowbar/workflowlist.mst</template>
			<nodepath>/domain/mecanex/config/default/flowlist/</nodepath>
			<fields>title</fields>
			<mouseovercss>menumouseover</mouseovercss>
		</controller>
	</view>
	
	<view id="#collectionSearch">
		<template>workarea/collectiondef/collectionsearch.mst</template>
		<controller id="CollectionSearchController" />
	</view>
	
	<view id="#collectionSearchResults">		
		<controller id="CollectionSearchResultsController">
			<template>workarea/collectiondef/collectionsearchresults.mst</template>
			<javascript>workarea/collectiondef/CollectionSearchResultsController.js</javascript>
		</controller>
	</view>
	
	<view id="#collectionOverview">
		<controller id="CollectionOverviewController">
			<template>workarea/collectiondef/collectionoverview.mst</template>
			<javascript>workarea/collectiondef/CollectionOverviewController.js</javascript>
		</controller>
	</view>
	
	<view id="#query">
		<controller id="InputFieldController">
			<template>workarea/collectiondef/InputField.mst</template>
			<javascript>workarea/collectiondef/InputFieldController.js</javascript>
		</controller>
	</view>
	
	<view id="#decade">
		<controller id="DropDownController">
			<nodepath>/domain/mecanex/config/default/decade/</nodepath>
			<fields>title,default</fields>
			<template>workarea/collectiondef/dropdown.mst</template>
			<javascript>workarea/collectiondef/DropDownController.js</javascript>
		</controller>
	</view>
	
	<view id="#license">		
		<controller id="DropDownController">
			<nodepath>/domain/mecanex/config/default/license/</nodepath>
			<fields>title,value,default</fields>
			<template>workarea/collectiondef/dropdown.mst</template>
			<javascript>workarea/collectiondef/DropDownController.js</javascript>
		</controller>
	</view>
	
	<view id="#maxPrice">
		<controller id="InputFieldWithValidationController">
			<template>workarea/collectiondef/InputFieldWithValidation.mst</template>
			<javascript>workarea/collectiondef/InputFieldWithValidationController.js</javascript>
			<validRegex>^[0-9,]*$</validRegex>
			<invalidRegex>[^0-9,]</invalidRegex>
		</controller>
	</view>
</app>